.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.topbar button{
padding:12px 18px;
border:none;
border-radius:12px;
background:#5b21b6;
color:white;
font-weight:600;
cursor:pointer;
font-size:14px;
transition:.2s;
}

.topbar button:hover{
background:#7c3aed;
}